<div class="p-4 text-center text-white">
  <% if user_signed_in? %>
    <h1 class="text-center rounded mb-5">Welcome, <%= current_user.name %></h1>
    <br>
    <p class="lead">Enjoy The App!</p>
    <br>
    <div class="row-fluid text-center mb-3">
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn-lg btn btn-danger' %>
    </div>
  <% else %>
    <h1 class="text-center rounded">Welcome, Guest</h1>
    <br>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <br>
    <div class="row-fluid text-center mb-3 mt-5">
        <%= link_to "Sign In", new_user_session_path, :class => "btn-lg btn btn-primary shadow mr-5" %> <%= link_to "Sign Up", new_user_registration_path, :class => "btn-lg btn btn-success shadow" %>
    </div>
  <% end %>
</div>