  <div>
    <p>State: <span><%= @order.state %></span></p>
    <p>Quantity: <span><%= @orderprod.quantity%></span></p>
  </div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', products_path %>
