<div class="container">
  <div class="row flex-column align-items-center">
    <div class="m-2 p-4 border shadow col-md-6">
      <h2 class="text-center mb-5 bg-dark text-white rounded">Edit Product</h2>
      <%= render 'form'%>
    </div>
  </div>
    <%= link_to "Back to Products", products_path, class: 'btn btn-dark my-4 text-center' %>
</div>