<% if @products.present? %>
    $(".products").html("<%= escape_javascript( render @products ) %>");
<% else %>
    $(".products").html("<p style='text-align: center'>No Products Found</p>")
<% end %>