<%# <h1>Footer</h1> %>
<div class="bg-dark mt-5 text-center text-white p-3">
    <h3 class="mb-4 shadow rounded p-1">Team Members</h3>
    <a href="https://github.com/Ahmed-Abd-elhamid" class="mr-3 btn btn-outline-primary text-white">Abdelhamid</a>
    <a href="https://github.com/MuAladdinIbrahim" class="mr-3 btn btn-outline-primary text-white">Aladdin</a>
    <a href="https://github.com/Nouran96" class="mr-3 btn btn-outline-primary text-white">Nouran</a>
    <a href="https://github.com/zeyadsaleh" class="btn btn-outline-primary text-white">Zeyad</a>
</div>