<%# <h1>Footer</h1> %>
<div class="bg-dark text-center text-white p-1">
    <h3 class="m-2 shadow rounded">Team Members</h3>
    <div class="mb-2">
        <a href="https://github.com/Ahmed-Abd-elhamid" class="mr-3 btn btn-outline-primary text-white">Abdelhamid</a>
        <a href="https://github.com/MuAladdinIbrahim" class="mr-3 btn btn-outline-primary text-white">Aladdin</a>
        <a href="https://github.com/Nouran96" class="mr-3 btn btn-outline-primary text-white">Nouran</a>
        <a href="https://github.com/zeyadsaleh" class="btn btn-outline-primary text-white">Zeyad</a>
    </div>
    <p>Website_E-Commerce &copy; <a href="https://github.com/Nouran96/ecommerce_rails">E-commerce</a><p>
</div>